@import '../base.less';
.qlist {
  padding: 0 .3rem;
  text-align: left;
  .item {
    background-color: #fff;
    border-radius: .1rem;
    margin-bottom: .3rem;
    position: relative;
    overflow: hidden;
  }
  .item .fone {
    padding: .45rem .1rem;
    padding-left: 2.1rem;
    position: relative;
  }
  .item .fone .fleft {
    display: block;
    text-align: center;
    width: 2rem;
    position: absolute;
    left: 0;
    top: .45rem;
  }
  .item .fone .fleft .tit1 {
    font-size: .54rem;
    color: @main-color;
    line-height: .6rem;
    font-weight: bold;
    height: .6rem;
    overflow: hidden;
    text-align: center;
  }
  .item .fone .fleft .tit2 {
    font-size: .22rem;
    color: @main-color;
    line-height: .4rem;
    text-align: center;
    position: relative;
    top: -.2rem;
  }
  .item .fone .fright {
    display: block;
  }
  .item .fone .fright .tit1 {
    font-size: .32rem;
    color: #555;
    line-height: .6rem;
    font-weight: bold;
    height: .6rem;
    overflow: hidden;
  }
  .item .fone .fright .tit2 {
    font-size: .22rem;
    color: #555;
    line-height: .4rem;
  }
  .item .rules {
    line-height: .7rem;
    padding: 0 .2rem;
    background-color: #fbfbfb;
    font-size: .24rem;
    color: #888;
  }
  .item.out .tit1 {
    color: #888 !important;
  }
  .item.out .tit2 {
    color: #888 !important;
  }
  .item .dw {
    display: block;
    width: 100%;
    height: .36rem;
    position: absolute;
    bottom: .52rem;
    left: 0;
    z-index: 2;
  }
  .item .dw .dl {
    width: .36rem;
    height: .36rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f7f7f7;
    position: absolute;
    left: -.18rem;
    top: 0;
  }
  .item .dw .dr {
    width: .36rem;
    height: .36rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f7f7f7;
    position: absolute;
    right: -.18rem;
    top: 0;
  }
  .dimg {
    width: 1.28rem;
    height: 1.28rem;
    position: absolute;
    top: .3rem;
    right: .3rem;
  }
}
