@import '../../styles/variable.less';

.container {
  width: 100%;
}

.header {
  background-color: #000;
  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 2rem;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity: .3;
  }
}

.header-wapper {
  height: 2rem;
  position: relative;
}

.search-box {
  width: 100%;
  padding: .1rem .1rem;
  height: .84rem;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  &-content {
    flex: 1;
    height: .64rem;
    border-radius: .3rem;
    background-color: #f7f7f7;
    font-size: .26rem;
    color: #999;
    padding: 0 .4rem;
    line-height: .6rem;
    text-align: left;
    border: 0;
    width: 100%;
    outline: none;
    font-family: 'Microsoft YaHei';
  }
  &-coupon {
    width: 1.04rem;
    height: .74rem;
    margin-left: .3rem;
  }
  &-activity {
    width: .89rem;
    position: relative;
    top: .05rem;
    margin-left: .3rem;
  }
}

.love {
  text-align: left;
  display: flex;
  align-items: center;
  border-bottom: .2rem solid #f7f7f7;
  &-title {
    font-size: .2rem;
    line-height: .3rem;
    color: #fff;
    background-color: @main-color;
    width: .4rem;
    padding: 0 .1rem;
    display: flex;
    align-items: center;
    height: 1.1rem;
    text-align: center;
    font-weight: normal;
    span {
      display: flex;
      width: .3rem;
      text-align: center;
    }
  }
  &-list {
    flex: 1;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    .love-list-container{
      white-space: nowrap;
    }
    .love-item-wapper {
      display: inline-block;
      white-space: nowrap;
      padding: .2rem .1rem;
    }
    .love-item {
      display: flex;
      width: 4.4rem;
      &-img {
        width: 1.1rem;
        height: 1.1rem;
      }
      .rside {
        flex: 1;
        overflow: hidden;
        display: flex;
        padding:0 .2rem;
        flex-direction: column;
        justify-content: space-around;
        .goods-item-rside-title {
          font-size: .3rem;
          line-height: .5rem;
          color: #555555;
          font-weight: normal;
          width: 100%;
          .text-overflow-ellipsis;
        }
        .goods-item-rside-info {
          font-size: .24rem;
          width: 100%;
          color: #8d8d8d;
          line-height: .6rem;
          .text-overflow-ellipsis;
        }
        .goods-item-rside-control-box {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          h4 {
            font-size: .32rem;
            text-align: left;
            color: #ff6634;
            flex: 1;
            font-weight: normal;
            font-family: Arial;
            span {
              font-size: .24rem;
            }
          }
          .icon-box {
            width: .5rem;
            height: .5rem;
            text-align: center;
            border-radius: 50%;
            background-color: @main-color;
            line-height: .5rem;
          }
          .count-box {
            padding: 0 .2rem;
            font-size: .28rem;
            color: #000;
          }
          .choose {
            padding: 0 .2rem;
            font-size: .28rem;
            height: .5rem;
            line-height: .5rem;
            border-radius: .25rem;
            color: #fff;
            background-color: @main-color;
          }
          .reduce {
            background-color: transparent;
            border: 2px solid @main-color;
            i {
              color: @main-color;
            }
          }
          i {
            color: #fff;
            font-size: .24rem;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  transition: all ease .4s;
  padding-bottom: 1.1rem;
}

.page-main {
  position: relative;
}

// 店铺信息
.mall-info {
  position: relative;
  z-index: 10;
  &-header {
    display: flex;
    box-sizing: border-box;
    padding: .35rem .3rem !important;
    &-lside {
      width: 1.3rem;
      .logo {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 3px;
        overflow: hidden;
      }
    }
    &-rside {
      flex: 1;
      overflow: hidden;
      text-align: left;
      padding: 0 0 0 .3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .mall-name {
        font-size: .34rem;
        font-weight: 600;
        color: #fff;
        padding: 0 0 .06rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
      }
      .mall-flags {
        color: #fff;
        font-size: .24rem;
        font-weight: normal;
      }
      .mall-desc {
        font-size: .22rem;
        color: #9f9491;
        word-wrap: break-word;
        line-height: .32rem;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
        padding-bottom: .1rem;
      }
    }
    &-star {
      img {
        width: .35rem;
        height: .35rem;
      }
      p {
        font-size: .22rem;
        color: @main-color;
      }
    }
  }
}

.goods-detail {
  position: fixed;
  z-index: 9999;
}

// 优惠信息
.benefit {
  text-align: left;
  white-space: nowrap;
  overflow-x: scroll;
  background-color: #fff;
  .coupon {
    margin: 10px;
  }
  &-info {
    div {
      display: flex;
      padding: .02rem .3rem;
      overflow: hidden;
      span {
        font-size: .4rem;
        position: relative;
        top: -5px;
      }
      p {
        padding-left: .2rem;
        font-size: .24rem;
        color: #353535;
        text-align: left;
        line-height: .35rem;
      }
    }
  }
}

.benefit-enter-active,
.benefit-leave-active {
  overflow: hidden;
  transition: all .3s linear;
}

.benefit-enter,
.benefit-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}

// 店铺详情弹出层
.shop-pop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  overflow-y: scroll;

  &-placeholder-box {
    height: 5rem;
  }

  .pop-tab-wapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &-main {
    height: 100vh;
    background-color: #fff;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
  }
  .shop-info-wapper {
    text-align: left;
    .detail-title {
      background-color: #f7f7f7;
      font-size: .26rem;
      color: #999;
      line-height: .64rem;
      padding: 0 .3rem;
    }
    .info-list {
      font-size: .3rem;
      color: #2d2f44;
      display: block;
      line-height: .5rem;
      padding: .1rem .3rem;
    }
    .info-list .info-list-btn {
      font-size: .26rem;
      padding: 0 .22rem;
      margin-left: .3rem;
      display: inline-block;
      height: .6rem;
      line-height: .6rem;
      border-radius: .3rem;
      color: rgb(255, 168, 0);
      background-color: rgba(255, 168, 0, .2);
    }
    .info-imgs-wapper {
      padding: 0 .3rem;
      margin: .1rem 0;
    }
    .info-imgs {
      white-space: nowrap;
      height: 2rem;
    }
    .info-imgs image {
      width: 2rem;
      height: 2rem;
      margin-right: .2rem;
      display: inline-block;
    }
    .list-btn {
      display: flex;
      padding: .1rem .3rem;
      align-items: center;
    }
    .list-btn .lside {
      flex: 1;
      font-size: .3rem;
      color: #2d2f44;
    }
    .list-btn image {
      width: .22rem;
      height: .22rem;
    }

    .previewer-box {
      padding: .1rem .3rem;
    }

    .previewer-img-wapper {
      width: 100%;
      overflow-x: scroll;
    }
    .previewer-img-content {
      white-space: nowrap;
    }
    .previewer-img-item {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: .2rem;
    }
  }
  .evaluate-list-wapper {}
}

.shop-pop-main .mall-info-header-rside .mall-name {
  color: #1b1b1f;
}

.shop-pop-main .mall-info-header-rside .mall-flags {
  padding: .1rem 0;
  color: #333;
}

.shop-pop-main .mall-info-header-rside .mall-desc {
  color: #999;
  white-space: normal;
}

.evaluate {
  position: relative;
  height: 100%;
  &-header {
    display: flex;
    align-items: center;
    border-bottom: .2rem solid #efefef;
    padding: .5rem .3rem;
    height: 2.2rem;
    box-sizing: border-box;
    &-item {
      flex: 1;
      font-size: .24rem;
      color: #333;
      h3 {
        font-weight: normal;
        span {
          font-size: .42rem;
          font-weight: bold;
          display: block;
          color: #fa5c34;
        }
      }
    }
  }
  &-content {
    height: clac(100vh - 30px)
  }
}

// trolley
.trolley {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.1rem;
  z-index: 100;
  border-top: 1px solid #cbcaca;
  display: flex;
  align-items: center;
  .trolley-icon {
    margin: .1rem;
  }
  .count {
    flex: 1;
    padding: 0 .2rem;
    text-align: left;
    font-size: .24rem;
    span {
      font-size: .32rem;
      color: #ff9057;
    }
  }
  .btn {
    height: 1.1rem;
    padding: 0 .4rem;
    line-height: 1.1rem;
    font-size: .3rem;
    color: #fff;
    background-color: #ff9057;
  }
}

//抛物线动画元素
.parabola-point {
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  opacity: 0;
  background-color: #ff8657;
  position: fixed;
  left: -100px;
  top: -100px;
  z-index: 99999;
}

.detial-list-wapper {
  height: 100%;
  overflow-y: scroll;
}

.evaluate-list-wapper {
  height: 100%;
  overflow-y: scroll;
}


// 评价
.comment-list .list-item {
  margin-bottom: .1rem;
  padding: .3rem;
  background-color: #fff;
  text-align: left;
}

.comment-list .item-header {
  display: flex;
  align-items: center;
}

.comment-list .item-header .photo {
  padding-right: .2rem;
}

.comment-list .item-header .photo img {
  width: .64rem;
  height: .64rem;
  border-radius: 50%;
}

.comment-list .item-header .nickname {
  max-width: 2.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .28rem;
  color: #000;
}

.comment-list .item-header .rate {
  display: flex;
  padding-left: .3rem;
}

.comment-list .comment-body {
  padding-left: .84rem;
}

.comment-list .item-title {
  margin-top: .1rem;
  font-size: .28rem;
  line-height: .38rem;
  color: #000000;
}

.comment-list .item-info {
  margin-top: .1rem;
  font-size: .26rem;
  line-height: .38rem;
  color: #999999;
}

.comment-list .item-reply {
  min-height: 1.5rem;
  background-color: #f7f7f7;
  margin-top: .4rem;
  position: relative;
  padding: .3rem;
}

.comment-list .item-reply::before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border: .25rem solid #f7f7f7;
  border-color: transparent transparent #f7f7f7 transparent;
  position: absolute;
  top: -.46rem;
  left: .5rem;
}

.comment-list .reply-header {
  display: flex;
  align-items: center;
}

.comment-list .reply-header .photo {
  padding-right: .2rem;
  height: .64rem;
}

.comment-list .reply-header .photo img {
  width: .64rem;
  height: .64rem;
  border-radius: 50%;
}

.comment-list .reply-header .nickname {
  width: 2.4rem;
  font-size: .26rem;
  color: #777777;
}

.comment-list .reply-content {
  font-size: .28rem;
  line-height: .38rem;
  color: #000000;
  margin-top: .2rem;
}


//选择属性
.popboxmask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  text-align: left;
}

.popbox-wapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.popbox {
  position: fixed;
  width: 86%;
  left: 7%;
  top: 50%;
  margin-top: -3.6rem;
  z-index: 10000;
}

.popbox .tit1 {
  font-size: .34rem;
  color: #1c1c20;
  text-align: center;
  line-height: .7rem;
  height: .7rem;
  padding: 0 .3rem;
}

.popbox .turns {
  padding: .2rem .3rem .3rem .3rem;
}

.popbox .chose .tit2 {
  font-size: .28rem;
  line-height: .54rem;
  margin-bottom: .16rem;
  color: #1c1c20;
}

.popbox .chose .lie {
  display: block;
  overflow: hidden;
}

.popbox .chose .lie span {
  display: block;
  font-size: .28rem;
  color: #666;
  line-height: .54rem;
  border: 1px solid #ececec;
  padding: 0 .32rem;
  float: left;
  border-radius: .54rem;
  margin: 0 .16rem .12rem 0;
}

.popbox .chose .lie span.on {
  border: 1px solid @main-color;
  color: @main-color;
}

.add {
  display: block;
  overflow: hidden;
  height: .54rem;
  margin-left: .3rem;
}

.popbox .chose .add {
  float: left;
  overflow: hidden;
}

.popbox .chose .add img {
  display: block;
  width: .54rem;
  height: .54rem;
  float: left;
}

.popbox .chose .add span {
  display: block;
  min-width: .6rem;
  margin: 0 .06rem;
  text-align: center;
  line-height: .54rem;
  height: .54rem;
  font-size: .3rem;
  float: left;
}

.popbox .chose.one {
  overflow: hidden;
  margin-top: .2rem;
}

.popbox .chose.one .tit2 {
  float: left;
  margin: 0;
  margin-right: .3rem;
}

.popbox .btnbox {
  overflow: hidden;
  height: 1.06rem;
  padding: .2rem .3rem;
  background-color: #f7f7f7;
}

.popbox .btnbox .bleft {
  float: left;
  font-size: .34rem;
  line-height: .64rem;
  color: @main-color;
}

.popbox .btnbox .btna {
  display: block;
  width: 1.9rem;
  border-radius: .64rem;
  color: #fff;
  line-height: .64rem;
  text-align: center;
  float: right;
  font-size: .26rem;
  .main-linear-gradient;
}

.popbox .box {
  background-color: #fff;
  border-radius: .1rem;
  overflow: hidden;
  padding-top: .2rem;
  text-align: left;
}

.popbox .close {
  margin: .6rem auto 0;
  display: block;
  width: .72rem;
}
