@import '../base.less';
.goods-item {
  display: flex;
  padding: .1rem .24rem .1rem .2rem;
  &-lside {
    width: 1.6rem;
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  &-rside {
    flex: 1;
    overflow: hidden;
    text-align: left;
    padding-left: .2rem;
    &-title {
      // font-size: .32rem;
      font-size: .24rem;
      // line-height: .5rem;
      line-height: .36rem;
      color: #555555;
      font-weight: normal;
      width: 100%;
      // .text-overflow-ellipsis;
    }
    &-info {
      font-size: .24rem;
      width: 100%;
      color: #8d8d8d;
      line-height: .6rem;
      .text-overflow-ellipsis;
    }
    &-control-box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      h4 {
        font-size: .32rem;
        text-align: left;
        color: #ff6634;
        flex: 1;
        font-weight: normal;
        font-family: Arial;
        span {
          font-size: .24rem;
        }
      }
      .icon-box {
        width: .5rem;
        height: .5rem;
        text-align: center;
        border-radius: 50%;
        background-color: @main-color;
        line-height: .5rem;
      }
      .count-box {
        padding: 0 .2rem;
        font-size: .28rem;
        color: #000;
      }
      .choose {
        padding: 0 .2rem;
        font-size: .28rem;
        height: .5rem;
        line-height: .5rem;
        border-radius: .25rem;
        color: #fff;
        background-color: @main-color;
      }
      .reduce {
        background-color: transparent;
        border: 2px solid @main-color;
        i {
          color: @main-color;
        }
      }
      i {
        color: #fff;
        font-size: .24rem;
        position: relative;
        top: -1px;
      }
    }
  }
}
