@import '../../styles/variable.less';
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.payment-btn {
  position: fixed;
  height: 1.1rem;
  line-height: 1.1rem;
  color: #fff;
  background-color: #fe4e4e;
  width: 100%;
  bottom: 0;
  font-size: .32rem;
}

.header {
  padding: .5rem 0 .8rem;
  background-color: #1b1b1f;
  h1 {
    font-size: .32rem;
    font-weight: normal;
    font-family: 'Microsoft YaHei';
    color:#999;
  }
  h2 {
    font-size: .6rem;
    padding-top: .2rem;
    color: @main-color;
    span {
      font-size: .28rem;
    }
  }
}

.main {
  text-align: left;
  h2 {
    padding: 0 .2rem;
    font-size: .32rem;
    font-weight: normal;
    font-family: 'Microsoft YaHei';
    border-bottom: 1px dashed #333;
    line-height: .8rem;
  }
}

.payment-item {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: .4rem 0;
  border-bottom: 1px solid #f7f7f7;
  &-lside {
    width: 1rem;
    text-align: center;
    img {
      width: .36rem;
    }
  }
  &-center {
    flex: 1;
    h3 {
      font-size: .32rem;
      color: #1b1b1f;
      font-weight: normal;
    }
    p {
      font-size: .28rem;
      color: #999;
    }
  }
  &-rside {
    padding-right: .2rem;
    .choose-btn {
      width: .42rem;
      height: .42rem;
      border-radius: 50%;
      border: 1px solid #9fa4a8;
      position: relative;
      text-align: center;
      line-height: .42rem;
      span {
        display: none;
      }
    }
    .choosed {
      background-color: @main-color;
      border-color: @main-color;
      span {
        display: inline-block;
        i {
          font-size: .1rem;
          color: #fff;
        }
      }
    }
  }
}
