.container{ padding: 1.1rem 0 1rem; text-align: left;}
.child-view{ position: static; }
.header { width: 100%; display: flex; align-items: center; height: 1.1rem; position: fixed; left: 0; top: 0; background-color: #fff; border-bottom: 1px solid #f7f7f7; z-index: 10; 
	div { display: flex; flex: 1; align-items: center; justify-content: center; }
		span { font-size: 0.28rem; color: #666; padding-right: 0.1rem; 
		span.active { color: rgb(255,168,0) }
		img { width: 0.12rem; height: 0.2rem; position: relative; top: 4rpx; }
	}
}

.footer { width: 100%; display: flex; align-items: center; height: 1rem; position: fixed; left: 0; bottom: 0; background-color: #fff; border-bottom: 1px solid #f7f7f7; z-index: 10; 
	.sin{ display: flex; flex: 1; align-items: center; justify-content: center; position: relative; 
			span { font-size: 0.28rem; color: #666; padding-left: 0.1rem; }
			img { width: 0.33rem; height: 0.33rem; position: relative; }
	}
	.sin:after { content: ''; display: block; height: 0.4rem; width: 1px; background-color: #f7f7f7; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; }
	.sin:last-child:after { display: none; }
}

.goods-list-wapper {background-color: #f7f7f7;
	.goods-list-item-wapper { padding-left: 0.3rem; background-color: #fff; margin-bottom: 0.2rem; 
		.goods-list-item { display: flex; border-bottom: 1px solid #f7f7f7; height: 2.52rem; padding: 0.36rem 0.3rem 0.36rem 0; 
			.lside {padding-right: 0.3rem;
				img { width: 1.8rem; height: 1.8rem; }
			}
			.rside { flex: 1; display: flex; flex-direction: column; justify-content: space-between;
				.title { font-size: 0.32rem; color: #2d2f44; }
				.price { font-size: 0.36rem; color: #df443b; 
				 	span { font-size: 0.24rem; }
				}
				.bonus { font-size: 0.24rem; color: #999; 
					span { color: #2d2f44; }
				}
				.remark { font-size: 0.24rem; color: #999;
					span { color: #2d2f44; }
					div { color: #2d2f44; float: right; }
				}
			 }
		}
	}
	.goods-item-controls { height: 1rem; display: flex; align-items: center; justify-content: flex-end; padding: 0 0.3rem; 
		.btn { margin-left: 0.2rem; height: 0.64rem; line-height: 0.64rem; padding: 0 0.35rem; border-radius: 0.32rem; font-size: 0.3rem; }
		.btn.line { border: 1px solid #999; color: #2d2f44 }
		.btn.fill { background-color: rgb(255,168,0); color: #fff; position: relative; }
		.btn.fill button { position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0; }
	}

}


.pop-qrcode { position: fixed; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0,0,0,.5); display: flex; align-items: center; justify-content: center; 
	.qrcode-content { width: 4.26rem; min-height: 5.20rem; padding: .50rem; border-radius: .20rem; background-color: #fff; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; 
		.title { font-size: .36rem; line-height: .60rem; margin-bottom: .30rem; max-height: 1.20rem; overflow: hidden;  }
		img { width: 3.26rem; height: 3.26rem; }
	}
}

.scrollBox{ position: fixed; left:0; top: 1.1rem; bottom:1rem; right: 0;  }