@import '../base.less';

.@{css-prefix} {
  &-scrolltab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    &-nav {
      height: 100%;
      background-color: #f7f7f7;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      position: relative;
      z-index: 1;
      // &:after {
      //   .right-line(#DFDFDF);
      // }
    }
    &-item {
      width: 1.5rem;
      box-sizing: border-box;
      padding: .2rem .1rem;
      min-height: 1rem;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      text-align: center;
      &:active {
        background: none;
      }
    }
    &-active {
      background-color: #FFF;
      &:before {
        .left-line(@main-color);
        border-left-width: .06rem;
      }
      &:active {
        background-color: #FFF;
      }
      .@{css-prefix}-scrolltab-title {
        color: @main-color;
      }
    }
    &-icon {
      // margin-right: .2rem;
      font-size: .32rem;
      display: flex;
      align-items: center;
      justify-content: center;
      >img {
        height: .4rem;
        display: inline-block;
      }
    }
    &-title {
      font-size: .3rem;
      color: #5d6265;
      max-width: 1.6rem;
      font-size: .26rem;
      text-align: center;
      flex: 1;
      // .text-overflow-ellipsis;
    }
    &-content {
      height: 100%;
      background-color: #FFF;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      flex: 1;
      padding: 0 0 1.2rem 0;
      position: relative;
    }
    &-content-title {
      border-top: .2rem solid #f7f7f7;
      font-size: .32rem;
      font-weight: normal;
      color: #1b1b1f;
      display: block;
      margin-bottom: .2rem;
      position: relative;
      z-index: 1;
      text-align: left;
      padding:.32rem 0 .1rem .2rem;
    }
    &-content-item:nth-of-type(1) .@{css-prefix}-scrolltab-content-title {
      border-top: 0;
    }
  }
}
