@import '../../styles/variable.less';
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
}
.nows {
  text-align: center;
  padding: .4rem .3rem 1.3rem .3rem;
  background-color: #1b1b1f;
  img {
    display: block;
    width: .6rem;
    margin: 0 auto;
    margin-bottom: .1rem;
  }
  span {
    display: block;
    text-align: center;
    font-size: .32rem;
    color: #ffa800;
  }
}

.main{ padding: .25rem .3rem; margin-top: -1rem; text-align: left;}
.main .tip{ padding: .2rem 0 .3rem 0; text-align: center;  }
.main .tip img{ display: block; width: 1.4rem; height: 1.4rem; margin: 0 auto .26rem auto;  }
.main .tip .tit1{ display: block; font-size: .38rem; color: #000; line-height: .4rem; margin-bottom: .1rem; }
.main .tip .tit2{ display: block; font-size: .28rem; color: #000; }
.main .mation{ background-color: #fff; padding: .3rem .4rem; border-radius: .08rem; margin-bottom: .12rem;}
.main .mation .sin{ overflow: hidden; line-height: .68rem; display: flex; padding: .15rem 0;}
.main .mation .sin .sl{ font-size: .28rem; color: #000; line-height: .4rem; width: 1.6rem;}
.main .mation .sin .sr{ font-size: .28rem; color: #666; line-height: .4rem; flex: 1; text-align: right;}
.main .food{ background-color: #fff;  padding: .25rem .4rem; border-radius: .08rem;  }
.main .food .shop{ position: relative; padding-left:.76rem; font-size: .28rem; line-height: .6rem; color: #000; margin-bottom: .08rem; }
.main .food .shop img{ display: block; width: .6rem; height: .6rem; overflow: hidden; border-radius: 50%; position: absolute; left: 0; top: 0; }
.main .food .shop span{ display: block; }
.main .food .flist{ padding: .1rem 0;  }
.main .food .flist .item{ overflow: hidden; }
.main .food .flist .item .sl{ width: 60%; float: left; font-size: .28rem; line-height: .64rem; color: #1c1b1f; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.main .food .flist .item .sl span{ color: #999; font-size: .26rem; padding-left: .1rem;}
.main .food .flist .item .sm{ width: 18%; margin: 0 1%; text-align: center; float: left; font-size: .28rem; line-height: .64rem; color: #666; }
.main .food .flist .item .sr{ width: 20%; float: left; font-size: .28rem; line-height: .64rem; color: #1c1b1f; text-align: right; }
.main .food .more{ display: block; text-align: center; font-size: .26rem; padding: .2rem 0; }
.main .food .more .mid{ display: inline-block; padding-right:.28rem; position: relative; }
.main .food .more .mid img{ display: block; position: absolute; right: 0; top: 50%; margin-top: -.05rem; width: .18rem; height:.1rem;}
.small { font-size: .22rem; }
