@import '../base.less';
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
}

.content {
  // width: 6.4rem;
  // height: 76%;
  width: 100%;
  // height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: .98rem;
  // border-radius: 5px;
  margin: auto;
  background-color: #fff;
  position: fixed;
  z-index: 10000;
  overflow: hidden;
  text-align: left;
  padding: 0 0 1rem;
  // transform: translateY(-.2rem);
  .content-wapper {
    position: absolute;
    width: 100%;
    height: 96%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .close {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    width: .6rem;
    border: .2rem solid rgba(0,0,0,0);
    box-sizing: content-box;
  }
  .goods-poster {
    width: 100%;
    height: 6.4rem;
  }
  h1 {
    text-align: left;
    font-size: .36rem;
    color: #333;
    padding: .2rem .2rem 0;
    font-weight: normal;
  }
  .title-box {
    display: flex;
    padding: .2rem;
    h2 {
      flex: 1;
      text-align: left;
      font-size: .42rem;
      color: #333;
      font-weight: normal;
      color: @main-color;
      span {
        font-size: .28rem;
      }
    }
    .control-box {
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .icon-box {
        width: .5rem;
        height: .5rem;
        text-align: center;
        border-radius: 50%;
        background-color: @main-color;
        line-height: .5rem;
      }
      .count-box {
        padding: 0 .2rem;
        font-size: .28rem;
        color: #000;
      }
      .reduce {
        background-color: transparent;
        border: 2px solid @main-color;
        i {
          color: @main-color;
        }
      }
      i {
        color: #fff;
        font-size: .24rem;
        position: relative;
        top: -1px;
      }
    }
    .choose {
      padding: 0 .2rem;
      font-size: .28rem;
      height: .5rem;
      line-height: .5rem;
      border-radius: .25rem;
      color: #fff;
      background-color: @main-color;
    }
  }
  .content-box {
    padding: .3rem;
    font-size: .28rem;
    img {
      max-width: 100%;
      display: block;
    }
  }
}
